<ion-header>
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!showResult">
    <h3>Punkte: {{ counter }}</h3>
    <h2>{{ questions[currentQuestion]?.title }}</h2>

    <ion-button
      expand="full"
      (click)="answerQuestion(1)">
      {{ questions[currentQuestion]?.a1 }}
    </ion-button>
    <ion-button
      expand="full"
      (click)="answerQuestion(2)">
      {{ questions[currentQuestion]?.a2 }}
    </ion-button>
    <ion-button
      expand="full"
      (click)="answerQuestion(3)">
      {{ questions[currentQuestion]?.a3 }}
    </ion-button>
    <ion-button
      expand="full"
      (click)="answerQuestion(4)">
      {{ questions[currentQuestion]?.a4 }}
    </ion-button>
  </div>

  <div *ngIf="showResult">
    <h2>Quiz beendet!</h2>
    <p>Deine Punktzahl: {{ counter }} / {{ questions.length }}</p>
    <ion-button expand="full" (click)="ngOnInit()">Erneut spielen</ion-button>
  </div>
</ion-content>
